.badge-complete {
    background-color: #22ff991e;
    color: #46fea5d4;
    font-size: 12px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}

.badge-progress {
    background-color: #fb6a0025; 
    color: #ffa057;
    font-size: 12px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}

.badge-review {
    background-color: #0077ff3a;
    color: #70b8ff;
    font-size: 12px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px; 
}
