.complete {
    background-color: #22ff991e;
    color: #46fea5d4;
    font-size: 12px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}

.progress {
    background-color: #fb6a0025; 
    color: #ffa057;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}

.review {
    background-color: #0077ff3a;
    color: #70b8ff;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px; 
}
.check{
    background-color: #e6fffb;
    color: #0ca2c1;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.danger{
    background-color: #fff1f0;
    color: #f5222d;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.refactoring{
    background-color: #f759ab;
    color: #fff0f6;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.test{
    background-color: #f9f0ff;
    color: #9254de;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.warning{
    background-color: #fffbe6;
    color: #faad14;
    font-size: 14px;
    font-family: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.closed{
    background-color: #fff2e8;
    color: #fa541c;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 3px;
}
.block{
    display: block;
  }
  .flex{
    display: flex;
  }
  .inline-block{
    display: inline;
  }
  .inline{
    display: inline;
  }
.space-around{
    justify-content: space-around;
  }
  .space-between{
    justify-content: space-between;
  }
  .justify-center{
    justify-content: center;
  }
  .justify-start{
    justify-self: flex-start;
  }
  .justify-end{
    justify-self: flex-end;
  }
.align-stretch{
    align-items: stretch;
  }
  .align-start{
    align-items: flex-start;
  }
  .align-end{
    align-items: flex-end;
  }
  .align-center{
    align-items: center;
  }
  .align-baseline{
    align-items: baseline;
  }