.card {
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .withImg img {
    display: block;
  }
  
  .withoutImg img {
    display: none;
  }
  
  .BGcolor {
    background-color: lightblue;
  }
  
  .fullWidth {
    width: 100%;
  }
  