.card {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #d8f4f609;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.xxs{
  padding: 12px;
}
.xs{
  padding: 16px;
}
.s{
  padding: 24px;
}
.m{
  padding: 32px;
}
.l{
  padding: 40px;
}
.default{
  background-color: #d8f4f609;
}
.second{
  background-color: #cce5ff09;
}
.third{
  background-color: #ffd8e809;
}