.flex{
    display: flex;
}
.inline-flex{
    display: inline-flex;
}
.inline{
    display: inline;
}
.align-baseline{
    align-items: baseline;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-stretch{
    align-items: stretch;
}
.column{
    flex-direction: column;
}
.column-revers{
    flex-direction: column-reverse;
}
.row{
    flex-direction: row;
}
.row-revers{
    flex-direction: row-reverse;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.start{
    justify-content: flex-start;
}
.space-evenly{
    justify-content: space-evenly;
}
.end{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.g-xxs{
    gap: 4px;
}
.g-xs{
    gap: 8px;
}
.g-s{
    gap: 12px;
}
.g-m{
    gap: 16px;
}
.g-l{
    gap: 24px;
}
.g-xl{
    gap: 32px;
}
.g-xxl{
    gap: 40px;
}
.g-xxxl{
    gap: 48px;
}
.g-x-xl{
    gap: 64px;
}
.gx-xxs{
    gap: 4px;
}
.gx-xs{
    row-gap: 8px;
}
.gx-s{
    row-gap: 12px;
}
.gx-m{
    row-gap: 16px;
}
.gx-l{
    row-gap: 24px;
}
.gx-xl{
    row-gap: 32px;
}
.gx-xxl{
    row-gap: 40px;
}
.gx-xxxl{
    row-gap: 48px;
}
.gx-x-xl{
    row-gap: 64px;
}
.gy-xxs{
    column-gap: 4px;
}
.gy-xs{
    column-gap: 8px;
}
.gy-s{
    column-gap: 12px;
}
.gy-m{
    column-gap: 16px;
}
.gy-l{
    column-gap: 24px;
}
.gy-xl{
    column-gap: 32px;
}
.gy-xxl{
    column-gap: 40px;
}
.gy-xxxl{
    column-gap: 48px;
}
.gy-x-xl{
    column-gap: 64px;
}